{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}



<div class="profile_container">
    <div class="profile_left_container" >
        <img style="width: 150px; height: 150px;" class="rounded-circle account-img" src="{{user.profile.image.url}}">
        <span style="text-transform: capitalize; place-self: center; letter-spacing: 4px; font-style: italic; font-size: 25px; color: gold; font-weight: 700;">{{profile.user.username}}</span>
    </div>
    <div class="profile_right_container">
        {% if profile.interests == "interests" %}
        <div><a href="{% url 'user:update_profile' profile.id %}"> Add Your Insterests</a></div>
        {% else %}
        <div ><a id="p1" onclick="copyToClipboard('#p1')" href="" >{{profile.interests}}</a></div>
        {% endif %}
    </div>   
</div>



<div class="links_container">

 


    {% if profile.phone != "phone" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/phone.png">
        </div>
        {% if profile.phone == "phone" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Spotify Profile</a></div>
        {% else %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p8" onclick="copyToClipboard('#p8')" href="" >{{profile.phone}}</a></div>
        {% endif %}
    </div>   
    {% endif %}


    


    {% if profile.email != "email" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/email.png">
        </div>
        {% if profile.email == "email" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Spotify Profile</a></div>
        {% else %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p9" onclick="copyToClipboard('#p9')" href="" >{{profile.email}}</a></div>
        {% endif %}
    </div>   
    {% endif %}




    {% if profile.youtube_id != "youtube" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/- youtube.png">
        </div>
        {% if profile.youtube_id == "youtube" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Youtube Profile</a></div>
        {% else %}

        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p2"  onclick="copyToClipboard('#p2')" href="">{{profile.youtube_id}}</a>
        </div>
        {% endif %}
    </div>   
    {% endif %}



    {% if profile.instagram_id != "instagram" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/- Instagram_logo_2016.svg.png">
        </div>
        {% if profile.instagram_id == "instagram" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Instagram Profile</a></div>
        {% else %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p3" onclick="copyToClipboard('#p3')" href="" >{{profile.instagram_id}}</a>
        </div>
        {% endif %}
    </div>   
    {% endif %}





    {% if profile.facebook_id != "facebook" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/- facebook.png">
        </div>
        {% if profile.facebook_id == "facebook" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Facebook Profile</a></div>
        {% else %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p4" onclick="copyToClipboard('#p4')" href="" >{{profile.facebook_id}}</a></div>
        {% endif %}
    </div>
    {% endif %}





    {% if profile.twitter_id != "twitter" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/- twitter-logo.jpg">
        </div>
        {% if profile.twitter_id == "twitter" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Twitter Profile</a></div>
        {% else %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p5" onclick="copyToClipboard('#p5')" href="" >{{profile.twitter_id}}</a></div>
        {% endif %}
    </div>   
    {% endif %}




    {% if profile.soundcloud_id != "soundcloud" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/- SoundCloud-Logo.jpg">
        </div>
        {% if profile.soundcloud_id == "soundcloud" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Soundcloud Profile</a></div>
        {% else %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p6" onclick="copyToClipboard('#p6')" href="" >{{profile.soundcloud_id}}</a></div>
        {% endif %}
    </div>   
    {% endif %}




    {% if profile.spotify_id != "spotify" %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            <img class="social_icon" src="/static/- Spotify.png">
        </div>
        {% if profile.spotify_id == "spotify" %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a href="{% url 'user:update_profile' profile.id  %}">  Add Your Spotify Profile</a></div>
        {% else %}
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a id="p7" onclick="copyToClipboard('#p7')" href="" >{{profile.spotify_id}}</a></div>
        {% endif %}
    </div>   
    {% endif %}

   



</div>
<div class="">
    <br>
    <div class="jumbotron text-center " style="color: mintcream ; border-radius: 10px; padding: 10px;
        background-image: linear-gradient(#170227d7, #470e76ef), url(/static/purple\ background\ login\ pae.jpg); 
        width: 60%; height: fit-content; margin:5px 15%;">
        <h4>
            <span style="font-size: 55px;">&#129447;</span>
            <span style="text-transform: capitalize; letter-spacing: 2px; font-style: italic; font-size: 25px; ">
            {% if request.user.is_authenticated %}
                <span style="color: gold;">{{request.user.username}}'s</span> Friends

            {% else %}
           
            {% endif %}

            </span>
            <span style="font-size: 55px;">&#129436;</span>    
        </h4>

    </div>

<div class="links_container">
    {% for friend in profile.friends.all %}
    <div class="profile_line">
        <div  style="display: inline-block;">
            {% if friend.profile.image == "default.jpg" %}
            <img class="social_icon" src="/media/profile_pics/{{friend.profile.image}}">
            {% else %}
            <img class="social_icon" src="/media/{{friend.profile.image}}">
            {% endif %}
        </div>
        <div class="social-id-display" style="display: inline-block;   align-self: center;">
            <a  href="{% url 'user:public_profile' friend.profile.id %}" >{{friend}}</a>
        </div>    
    </div>   
    {% endfor %}
</div>

<div style="display: grid; grid-template-columns: 50% 50%; ">

    <a class="btn btn-primary" style="margin-top: 30px;background-color: #10a768; width: 30%; justify-self: center;

    border-color: #6c16b4;" href="{% url 'user:update_profile'  profile.id %}" role="button">Update Profile</a>

    <a class="btn btn-primary" style="margin-top: 30px;background-color: #10a793;  width: 30%; justify-self: center;

    border-color: #6c16b4;" href="{% url 'user:public_profile'  profile.id %}" role="button">Social Card</a>

</div>




<br><br><br>

{% if profile %}
{% else %}
{% endif %}


  {% endblock body %}
