
.graph-area {
    padding:30px 5%;
    color: white;    
    display: grid; 
    grid-template-columns:50% 50%  !important;
}


.chart {
    justify-content: space-around;
    padding: 5%;
    border-radius: 15px;
    height: 270px !important;
    width: 546px !important;
    display: grid;    
    /*size: 40% !important;
    /*width: 30% !important;
    /*justify-content: space-around;
    align-content: center;*/

}